<li id="issue_<%= issue.id %>" class="<%= issue.status %> issue <%= "old_and_closed" if old_and_closed?(issue) %>" data-id="<%= issue.id %>" data-updated-at="<%= issue.updated_at.to_s %>" data-user-id="<%= issue.user.id %>" data-created-at="<%= issue.created_at %>" data-number="<%= issue.number %>" data-status="<%= issue.status %>" data-assignee-id="<%= issue.assignee.nil? ? -1 : issue.assignee.id %>"> 
  <%= link_to issue.status, cycle_status_path(@project, issue, :format => :js), :class => "status #{issue.status}", :remote => true %>
  <span class="issue_number">#<%= issue.number %></span>
  <%= link_to issue.name, project_issue_path(@project, issue) %>
  <span class="metadata">
    <small class="age"><%= time_ago_in_words issue.created_at %> old</small>
    <%= assigned_to(issue) %>
    <%= link_to "×", project_issue_path(@project, issue, :format => :js), :method => :delete, :class => "delete", :remote => true %>
  </span>
</li>