<h1>Got Issues</h1>

<ul class="issues" id="issues">
  <% @issues.each do |issue| %>
    <%= render :partial => "item", :locals => {:issue => issue} %>
  <% end %>
</ul>

<%= form_for([@project, @issue], :remote => true, :format => :js) do |f| %>
  <h2>new issue</h2>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= select_tag "issue[assignee_id]", options_for_select(User.all.collect { |user| [user.name, user.id] }) %>
  
  <%= f.submit "Create" %>
<% end %>


<br />

<%= link_to 'New Issue', new_project_issue_path(@project) %>
