<% page_title "#{@project.name} issues" %>
<h1><%= @project.name %></h1>
<%= breadcrumbs_for home_crumb, projects_crumb, @project.name %>

<ul class="issues project" id="issues" data-id="<%= @project.id %>">
  <% @issues.each do |issue| %>
    <%= render :partial => "item", :locals => {:issue => issue} %>
  <% end %>
</ul>

<script>
  $(function(){
    $('#issues').sortIssues();
  })
</script>

<%= form_for([@project, @issue], :remote => true, :format => :js) do |f| %>
  <h2>new issue</h2>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= select_tag "issue[assignee_id]", options_for_select([["no one",""]] + User.all.collect { |user| [user.name, user.id] }) %>
  
  <%= select_tag "issue[priority]", options_for_select(Issue.priorities.collect { |i| [i, Issue.priorities.index(i)] }, :selected => 1) %>
  
  <%= f.submit "Create" %>
<% end %>


<br />

<%= link_to 'New Issue', new_project_issue_path(@project) %>
