<p id="notice"><%= notice %></p>

<h1>#<%= @issue.number %> <%= @issue.name %></h1>

<p><%= @issue.description %></p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>

<p>
  <b>Assigned to:</b> <%= assigned_to(@issue) %>
</p>

<h2>Comments</h2>

<ul class="comments">
  <% for comment in @issue.comments %>
    <%= render :partial => "comments/item", :locals => {:comment => comment} %>
  <% end %>
</ul>

<%= render :partial => "comments/form" %>


<%= link_to 'Edit', edit_project_issue_path(@project, @issue) %> |
<%= link_to 'Back', project_issues_path(@project) %>
