<div class="issue" id="issue_<%= @issue.id %>" data-id="<%= @issue.id %>">
  
  <p id="notice"><%= notice %></p>

  <h1>#<%= @issue.number %> <%= @issue.name %></h1>

  <div class="overview clearfix">
    <%= link_to @issue.status, cycle_status_path(@project, @issue, :format => :js), :class => "status #{@issue.status}", :remote => true %>
    <span class="project" data-id="<%= @project.id %>"><%= assigned_to(@issue) %></span>
    <small>
      Created by <%= @issue.user.name %>
      <%= time_ago_in_words @issue.created_at %> ago
    </small>
  </div>

  <div class="description"><%= markdown @issue.description %></div>
  
  <% for image in @issue.images %>
    <%= link_to image_tag(image.image.url(:medium)), image.image.url %>
  <% end %>
  <% @image = Image.new(:imageable_id => @issue.id, :imageable_type => "Issue") %>
  <%= render :partial => "images/form" %>

  <h2>Comments</h2>

  <ul class="comments">
    <% for comment in @issue.comments %>
      <%= render :partial => "comments/item", :locals => {:comment => comment} %>
    <% end %>
  </ul>

  <%= render :partial => "comments/form" %>


  <%= link_to 'Edit', edit_project_issue_path(@project, @issue) %> |
  <%= link_to 'Back', project_issues_path(@project) %>

</div>