<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>

<p>
  <b>User:</b>
  <%= @issue.user.email %>
</p>


<%= link_to 'Edit', edit_project_issue_path(@project, @issue) %> |
<%= link_to 'Back', project_issues_path(@project) %>
