<div id="issues_app">
  <% page_title "#{@project.name} issues" %>
  <h1>
    <%= @project.name %>
    <small><%= link_to "edit", edit_project_path(@project) %></small>
  </h1>
  <%= breadcrumbs_for home_crumb, projects_crumb, @project.name %>
  
  <p class="menu" id="menu">
    <span class="buttonset">
      Filter:
      <%= link_to "closed", "#", :class => "filter_closed", :id => "filter_closed" %>
    </span>
  </p>
  
  <ul class="issues project" id="issues" data-id="<%= @project.id %>">
  </ul>
  
  <%= form_for([@project, @issue]) do |f| %>
    <h2>new issue</h2>
    <%= f.text_field :name, :placeholder => "name" %>
    <%= f.text_area :description, :placeholder => "description", :rows => 1 %>
    <%= f.text_field :tag_list, :placeholder => "tags, comma_separated" %>
    <%= select_tag "issue[assignee_id]", options_for_select([["no one",""]] + User.all.collect { |user| [user.name, user.id] }) %>
    <%= select_tag "issue[priority]", options_for_select(Issue.priorities.collect { |i| [i, Issue.priorities.index(i)] }, :selected => 1) %>

    <%= f.submit "Add Issue" %>
  <% end %>
</div>








<% content_for :head do %>
  <script>
    var PROJECT_ID = <%= @project.id %>;
    var CURRENT_USER_ID = <%= current_user.id %>;
  </script>
  <%= javascript_include_tag "Issue", "IssueList", "IssueView", "AppView", "gotIssues" %>
  <script>
    $(function(){
      
      Issues.refresh(<%= @project.issues.order("created_at ASC").to_json(
          :methods => [:priority_name, :created_at_json, :updated_at_json],
          :include => {
            :user => {:only => [:id, :name]},
            :assignee => {:only => [:id, :name]},
            :comments => {:only => [:id]}
          }
      ).html_safe %>);
      
    })
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <%= @project.name %>
  <%= @project.slug %>
  <%= @project.description %>
  <%= @project.open %>
  <%= @project.owner.name if @project.owner %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>







<!-- Templates -->

<script type="text/html" id="issue">
  <div class="issue {{ status }}">
    <span class="status {{status}}">{{status}}</span>
    <span class="issue_number">#{{number}}</span>
    <span class="name">{{name}}</span>
    <span class="metadata">
      {{#(if priority_name)}}
        <span class="priority {{issue.priority_name}}">{{issue.priority_name}}</span>
      {{/(if priority_name)}}
      
      {{#(if description && description != "")}}
        <span class="desc">{{description}}</span>
      {{/(if description && description != "")}}
      
      {{#(if comments && comments.length > 0)}}
        <span class="comments">{{comments.length}}</span>
      {{/(if comments && comments.length > 0)}}
      
      <small class="age">{{updated_at_json}}</small>
      
      <span class="assignee">{{assignee}}</span>
      
      <%= link_to "×", "#", :method => :delete, :class => "delete", :remote => true, :confirm => "This can't be undone. Do you want to delete this issue?" %>
    </span>
  </div>
</script>