<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @project.slug %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Open:</b>
  <%= @project.open %>
</p>

<p>
  <b>Owner:</b>
  <%= @project.owner.name if @project.owner %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
