<%= form_for(@image, :html => {:multipart => true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :imageable_id %>
  <%= f.hidden_field :imageable_type %>
  
  <div class="actions">
    <%= f.label :image, "Add images to this issue" %><br />
    <%= f.file_field :image, :multiple => true %>
    <%= f.submit "Add images" %>
  </div>
<% end %>
