<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @image.image.url(:large) %>
</p>

<p>
  <b>Imageable:</b>
  <%= @image.imageable %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
